In [1]:
import pandas as pd

In [ ]:
data=pd.read_csv("salaries.csv")
data

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [8]:
data["company"]=le.fit_transform(data["company"])
data["job"]=le.fit_transform(data["job"])
data["degree"]=le.fit_transform(data["degree"])
data

    company  job  degree  salary_more_then_100k
0         2    2       0                      0
1         2    2       1                      0
2         2    0       0                      1
3         2    0       1                      1
4         2    1       0                      0
5         2    1       1                      1
6         0    2       1                      0
7         0    1       0                      0
8         0    0       0                      0
9         0    0       1                      1
10        1    2       0                      1
11        1    2       1                      1
12        1    0       0                      1
13        1    0       1                      1
14        1    1       0                      1
15        1    1       1                      1

In [17]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()

In [18]:
from sklearn.model_selection import train_test_split

In [59]:
x_train,x_test,y_train,y_test=train_test_split(data[["company","job","degree"]],data[["salary_more_then_100k"]],test_size=0.2,random_state=10)

In [60]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [61]:
dtc.predict([[0,1,0]])

array([0], dtype=int64)

In [62]:
dtc.score(x_train,y_train)

1.0