In [1]:
#how to build dataframe  and read csv from web

In [2]:
#creating dataframe without web
import pandas as pd

In [3]:
d1=pd.DataFrame({'city':['lucknow','delhi','kanpur'],'temperature':[34,33,37]})
d1

      city  temperature
0  lucknow           34
1    delhi           33
2   kanpur           37

In [4]:
# creting dataframe after reading it from web
import pandas as pd
#for reading files
import io
#for getting the data in utf-8 format
import requests as r

In [5]:
url="https://raw.githubusercontent.com/codebasics/py/master/pandas/6_handling_missing_data_replace/weather_data.csv"

In [7]:
data=r.get(url).content
data

b'day,temperature,windspeed,event\n1/1/2017,32,6,Rain\n1/2/2017,-99999,7,Sunny\n1/3/2017,28,-99999,Snow\n1/4/2017,-99999,7,0\n1/5/2017,32,-99999,Rain\n1/6/2017,31,2,Sunny\n1/6/2017,34,5,0\n'

In [8]:
df=pd.read_csv(io.StringIO(data.decode("utf-8")))
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0